.burger-menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;

  display: flex;
  transform: translateX(-60vw);
  transition: 0.3s ease-out;
  @include small-tablet {
    position: fixed;
    z-index: 100;
    right: 0;
    transform: translate(0, -100%);
  }
  &.active {
    transform: translateX(0);
    @include small-tablet {
      transform: translate(0, 0);
    }
  }
  &__body {
    position: relative;
    @include small-tablet {
      position: static;
    }
  }
  &__wrap {
    border-radius: 0 5px 5px 0;
    padding-right: 5rem;
    min-height: 71.5rem;
    width: 43.5rem;
    @include small-tablet {
      width: 100%;
      min-height: unset;
      background-color: #fff;
      padding: 0 2rem;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 60vw;
      height: 100vh;
      background-color: #fff;
      z-index: -1;
      @include small-tablet {
        display: none;
      }
    }
  }
  &__wrapper {
    overflow: hidden;
  }
  &__top {
    gap: 1.2rem;
    padding: 1.5rem 0;
    padding-top: 0;
    margin-bottom: 3rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(#303030, 0.2);

    @include small-tablet {
      padding: 2.5rem 0.2rem;
    }
    span {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.2rem;
      height: 3.2rem;
      background-color: #fff;
      @include small-tablet {
        width: 2rem;
        height: 2rem;
      }
      svg {
        width: 80%;
        height: 80%;
        @include small-tablet {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__cats {
  }
  &__cat {
    margin: 0.2rem 0;
    line-height: 180%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    @include tablet {
      gap: 1.2rem;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;

    @include small-tablet {
      background: none;
      padding: 0 2rem;
    }
  }
}

.bm-content {
  transition: transform 0.3s ease-out;
  transform: translateX(-60vw);
  @include small-tablet {
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translate(0, -100vh);
  }
  &.active {
    transform: translateX(0);
    @include small-tablet {
      transform: translate(0, 0);
    }
  }
  &__top {
    cursor: pointer;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid rgba(#303030, 0.2);
    margin-bottom: 3.4rem;
    justify-content: flex-start;

    @include small-tablet {
      padding: 2.5rem 0.2rem;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &__link {
    line-height: 180%;
  }
}
