<footer class="footer-sec">
  <div class="container">
    <div class="footer-sec__cta">
      <p class="footer-sec__capture">
        Подпишитесь на&nbsp;новости PETRLEVENPOL BRAND, чтобы не&nbsp;пропустить
        новинки
      </p>
      <form action="" class="footer-sec__form" novalidate="novalidate">
        <input
          type="email"
          required=""
          class="footer-sec__input input-email"
          placeholder="*E-mail"
          name="Email:"
          wfd-id="id0"
        />
        <button class="btn-reset btn footer-sec__btn">Подтвердить</button>
      </form>
      <span class="footer-sec__subscribe"
        >Подписавшись, вы&nbsp;соглашаетесь с&nbsp;обработкой&nbsp;<a
          href="#"
          target="_blank"
          >персональных данных</a
        ></span
      >
    </div>

    <div class="footer-sec__ncontainer fn">
      <div class="fn__left">
        <nav class="footer-sec__col fs-nav">
          <div class="fs-nav__capture">Petrlevenpol brand</div>
          <ul class="list-reset fs-nav__list">
            <li class="fs-nav__item">
              <a href="http://petrlevenpol.shop" class="fs-nav__link">Одежда</a>
            </li>
            <li class="fs-nav__item">
              <a href="https://petrlevenpol.store/" class="fs-nav__link"
                >Косметика</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="fn__right">
        <nav class="footer-sec__col fs-nav">
          <div class="fs-nav__capture">Покупателям</div>

          <ul class="list-reset fs-nav__list">
            <li class="fs-nav__item">
              <a href="#" class="fs-nav__link">Оплата и доставка</a>
            </li>
            <li class="fs-nav__item">
              <a href="#" class="fs-nav__link">Возврат</a>
            </li>
            <li class="fs-nav__item">
              <a href="#" class="fs-nav__link">Контакты</a>
            </li>
          </ul>
        </nav>
        <nav class="footer-sec__col fs-nav">
          <div class="fs-nav__capture">Контакты</div>

          <ul class="list-reset fs-nav__list">
            <li class="fs-nav__item">
              <a href="tel:79164318930" class="fs-nav__link"
                >+7 (916) 431-89-30</a
              >
            </li>
            <li class="fs-nav__item">
              <a href="mailto:sorvalo21@gmail.com" class="fs-nav__link"
                >sorvalo21@gmail.com</a
              >
            </li>
            <li class="fs-nav__item">
              <span class="fs-nav__link"></span>
            </li>
          </ul>
        </nav>
        <nav class="footer-sec__col fs-nav">
          <div class="fs-nav__capture">Социальные сети</div>
          <ul class="list-reset fs-nav__list">
            <li class="fs-nav__item">
              <a
                href="https://www.instagram.com/petrlevenpol.brand?igsh=dDloZWIxdTdoMGE4"
                class="fs-nav__link"
              >
                <img
                  src="https://petrlevenpol.com/wp-content/uploads/2024/10/bxl-instagram.svg"
                />
                Instagram
              </a>
            </li>
            <li class="fs-nav__item">
              <a
                href="https://youtube.com/@petrlevenpol_brand?si=xE8fBK9q5_OATclD"
                class="fs-nav__link"
              >
                <img
                  src="https://petrlevenpol.com/wp-content/uploads/2024/10/youtube.svg"
                />
                Youtube
              </a>
            </li>
            <li class="fs-nav__item">
              <a href="https://t.me/petrlevenpolbrand" class="fs-nav__link">
                <img
                  src="https://petrlevenpol.com/wp-content/uploads/2024/10/telegram.svg"
                />
                Telegram
              </a>
            </li>
            <li class="fs-nav__item">
              <a href="https://vk.com/petrlevenpol.brand" class="fs-nav__link">
                <img
                  src="https://petrlevenpol.com/wp-content/uploads/2024/10/bxl-vk.svg"
                />
                Вконтакте
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="footer-sec__bottom">
      <div>
        <span>© 2024. Все права защищены</span>
      </div>
      <div>
        <a href="./main.html" class="footer-sec__logo">
          <img
            src="https://petrlevenpol.com/wp-content/themes/petr-main/assets/img/logo4.webp"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</footer>
