<section class="hero">
  <div class="container hero__container">
    <span class="hero__logo">
      <img src="./img/logo-main.svg" alt="" />
    </span>

    <div class="hero__bottom">
      <p class="hero__capture">PL для женщин</p>
      <a href="#" class="link hero__link"> Посмотреть всё </a>
    </div>

    <div class="hero__girl hero__girl--left">
      <img src="./img/girl1.webp" alt="" />
    </div>
    <div class="hero__girl hero__girl--right">
      <img src="./img/girl2.webp" alt="" />
    </div>
  </div>
</section>
