<section class="main-text">
  <div class="container">
    <div class="main-text__container">
      <p class="main-text__text text">
        Мы создаем интеллектуальную, смелую и эмоциональную одежду, отражающую
        то, что и так есть внутри наших покупателей. Вы и без нас крутые. Мы
        только подчеркиваем это. Даем вам поддержку выражать себя. Быть рядом и
        давать инструмент для самовыражения, уверенности, достижения целей - вот
        наша миссия.
        <br />
        <br />
        Мы для сильных и независимых, для тех, кто идет вперед, бережно
        относится к индивидуальности, но следит и адаптирует под себя тренды.Мы
        говорим людям, чтобы они верили в себя, потому что мы в них уже верим.
        <br />
        <br />
        Свобода самовыражения: смело и эклектично сочетая актуальные течения
        создание индивидуально образа из модельного ряда. Наши изделия являются
        и изюминкой отдельного гардероба, и создают вместе разнообразные
        законченные луки.
      </p>
    </div>
  </div>
</section>
