<section class="recent">
  <div class="container">
    <h2 class="title2 recent__title">Вам также может быть интересно</h2>
    <div class="recent__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card">
            <a href="#" class="card__link"></a>
            <div class="card__wrapper">
              <div class="card__label">NEW</div>
              <div class="card__img">
                <img src="./img/cards/03.webp" alt="" />
              </div>
              <a href="#" class="card__cart">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73335 7.00002H1L1.00001 19C1.00001 19.5523 1.41787 20 1.93334 20H14.0667C14.5821 20 15 19.5523 15 19V7.00002H11.2667M4.73335 7.00002H11.2667M4.73335 7.00002L4.73333 8.00001M4.73335 7.00002L4.73333 4.50001C4.73333 2.56701 6.19587 1 8 1C9.80413 1 11.2667 2.56701 11.2667 4.50001V7.00002M11.2667 7.00002V8.00001"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <div class="text card__title">Пиджак OLIMP BLUE</div>
            <div class="text text--small card__price">38 000р.</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <a href="#" class="card__link"></a>
            <div class="card__wrapper">
              <div class="card__label">NEW</div>
              <div class="card__img">
                <img src="./img/cards/03.webp" alt="" />
              </div>
              <a href="#" class="card__cart">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73335 7.00002H1L1.00001 19C1.00001 19.5523 1.41787 20 1.93334 20H14.0667C14.5821 20 15 19.5523 15 19V7.00002H11.2667M4.73335 7.00002H11.2667M4.73335 7.00002L4.73333 8.00001M4.73335 7.00002L4.73333 4.50001C4.73333 2.56701 6.19587 1 8 1C9.80413 1 11.2667 2.56701 11.2667 4.50001V7.00002M11.2667 7.00002V8.00001"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <div class="text card__title">Пиджак OLIMP BLUE</div>
            <div class="text text--small card__price">38 000р.</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <a href="#" class="card__link"></a>
            <div class="card__wrapper">
              <div class="card__label">NEW</div>
              <div class="card__img">
                <img src="./img/cards/03.webp" alt="" />
              </div>
              <a href="#" class="card__cart">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73335 7.00002H1L1.00001 19C1.00001 19.5523 1.41787 20 1.93334 20H14.0667C14.5821 20 15 19.5523 15 19V7.00002H11.2667M4.73335 7.00002H11.2667M4.73335 7.00002L4.73333 8.00001M4.73335 7.00002L4.73333 4.50001C4.73333 2.56701 6.19587 1 8 1C9.80413 1 11.2667 2.56701 11.2667 4.50001V7.00002M11.2667 7.00002V8.00001"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <div class="text card__title">Пиджак OLIMP BLUE</div>
            <div class="text text--small card__price">38 000р.</div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <a href="#" class="card__link"></a>
            <div class="card__wrapper">
              <div class="card__label">NEW</div>
              <div class="card__img">
                <img src="./img/cards/03.webp" alt="" />
              </div>
              <a href="#" class="card__cart">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73335 7.00002H1L1.00001 19C1.00001 19.5523 1.41787 20 1.93334 20H14.0667C14.5821 20 15 19.5523 15 19V7.00002H11.2667M4.73335 7.00002H11.2667M4.73335 7.00002L4.73333 8.00001M4.73335 7.00002L4.73333 4.50001C4.73333 2.56701 6.19587 1 8 1C9.80413 1 11.2667 2.56701 11.2667 4.50001V7.00002M11.2667 7.00002V8.00001"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <div class="text card__title">Пиджак OLIMP BLUE</div>
            <div class="text text--small card__price">38 000р.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
