<section class="single-prod">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="#">Главная</a>
        </li>
        <li>
          <a href="#">Женщинам</a>
        </li>
        <li>
          <a href="#">Юбки, шорты</a>
        </li>
        <li>
          <a href="#">Юбка Tequila</a>
        </li>
      </ul>
    </div>

    <div class="single-prod__container">
      <div class="single-prod__gallery">
        <div class="single-prod__thumbs swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/single/01.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/single/02.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/single/03.webp" alt="" />
            </div>
          </div>
        </div>
        <div class="single-prod__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/single/01.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/single/02.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/single/03.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
      <form action="#" class="single-prod__summary">
        <div class="single-prod__top">
          <div class="single-prod__label text">New</div>
          <div class="single-prod__header">
            <div class="single-prod__title">Юбка Tequila</div>
            <div class="single-prod__fav">
              <svg
                width="21"
                height="19"
                viewBox="0 0 21 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.18945 17.2635L9.18873 17.2628C6.51246 14.836 4.3316 12.8576 2.8138 11.0019C1.30173 9.15326 0.5 7.48753 0.5 5.69482C0.5 2.78186 2.78186 0.5 5.69482 0.5C7.34506 0.5 8.93673 1.27066 9.97355 2.4882L10.3542 2.93523L10.7349 2.4882C11.7717 1.27066 13.3634 0.5 15.0136 0.5C17.9266 0.5 20.2084 2.78186 20.2084 5.69482C20.2084 7.48754 19.4067 9.15329 17.8945 11.0033C16.3793 12.8571 14.2034 14.8344 11.5335 17.2607L11.5204 17.2726L11.5193 17.2736L10.3555 18.325L9.18945 17.2635Z"
                  stroke="#303030"
                />
              </svg>
            </div>
          </div>
          <div class="single-prod__price text">10 000 р.</div>
        </div>
        <div class="single-prod__info">
          <ul class="list-reset single-prod__chars text">
            <li>Страна производства: <span>Россия</span></li>
            <li>Состав: <span>100%</span></li>
          </ul>
          <div class="single-prod__choice">Цвет</div>
        </div>

        <button class="btn-reset single-prod__btn add-to-cart btn">
          ДОБАВИТЬ В корзину
        </button>
      </form>
    </div>
  </div>
</section>
