<section class="store">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="#">Главная</a>
        </li>
        <li>
          <a>Женщинам</a>
        </li>
      </ul>
    </div>
    <div class="store__container">
      <aside class="store__aside aside">
        <div class="aside__title">PL для Женщин</div>
        <nav class="aside__nav">
          <ul class="list-reset aside-nav__list">
            <li class="aside-nav__item">
              <a href="#" class="aside-nav__link">Смотреть всё</a>
            </li>
            <li class="aside-nav__item">
              <a href="#" class="aside-nav__link">NEW collection</a>
            </li>
            <li class="aside-nav__item">
              <a href="#" class="aside-nav__link">Верхняя одежда </a>
            </li>
            <li class="aside-nav__item">
              <a href="#" class="aside-nav__link">Пиджаки</a>
            </li>
            <li class="aside-nav__item">
              <a href="#" class="aside-nav__link">Рубашки и блузы</a>
            </li>
            <li class="aside-nav__item">
              <a href="#" class="aside-nav__link"
                >Боди, топы, майки, футболки</a
              >
            </li>
            <li class="aside-nav__item">
              <a href="#" class="aside-nav__link">Джинсы и брюки</a>
            </li>
            <li class="aside-nav__item">
              <a href="#" class="aside-nav__link">Юбки, шорты</a>
            </li>
            <li class="aside-nav__item">
              <a href="#" class="aside-nav__link">Платья</a>
            </li>
            <li class="aside-nav__item">
              <a href="#" class="aside-nav__link">Sale</a>
            </li>
          </ul>
        </nav>
      </aside>

      <div class="store__main">
        <div class="store__filters filters">
          <div class="filters__left">
            <div class="filters__item text filt">
              <div class="filt__title">Размер</div>
              <div class="filt__body">
                <div class="filt__content"></div>
              </div>
            </div>
            <div class="filters__item text filt">
              <div class="filt__title">Цена</div>
              <div class="filt__body">
                <div class="filt__content"></div>
              </div>
            </div>
          </div>
          <div class="filters__right">
            <div class="filters__item text filt">
              <div class="filt__title">По умолчанию</div>
              <div class="filt__body">
                <div class="filt__content"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="store__items">
          <div class="store-item card">
            <a href="#" class="card__link"></a>
            <div class="card__wrapper">
              <div class="card__label">NEW</div>
              <div class="card__img">
                <img src="./img/cards/03.webp" alt="" />
              </div>
              <a href="#" class="card__cart">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73335 7.00002H1L1.00001 19C1.00001 19.5523 1.41787 20 1.93334 20H14.0667C14.5821 20 15 19.5523 15 19V7.00002H11.2667M4.73335 7.00002H11.2667M4.73335 7.00002L4.73333 8.00001M4.73335 7.00002L4.73333 4.50001C4.73333 2.56701 6.19587 1 8 1C9.80413 1 11.2667 2.56701 11.2667 4.50001V7.00002M11.2667 7.00002V8.00001"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <div class="text card__title">Пиджак OLIMP BLUE</div>
            <div class="text text--small card__price">38 000р.</div>
          </div>
          <div class="store-item card">
            <a href="#" class="card__link"></a>
            <div class="card__wrapper">
              <div class="card__label">NEW</div>
              <div class="card__img">
                <img src="./img/cards/03.webp" alt="" />
              </div>
              <a href="#" class="card__cart">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73335 7.00002H1L1.00001 19C1.00001 19.5523 1.41787 20 1.93334 20H14.0667C14.5821 20 15 19.5523 15 19V7.00002H11.2667M4.73335 7.00002H11.2667M4.73335 7.00002L4.73333 8.00001M4.73335 7.00002L4.73333 4.50001C4.73333 2.56701 6.19587 1 8 1C9.80413 1 11.2667 2.56701 11.2667 4.50001V7.00002M11.2667 7.00002V8.00001"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <div class="text card__title">Пиджак OLIMP BLUE</div>
            <div class="text text--small card__price">38 000р.</div>
          </div>
          <div class="store-item card">
            <a href="#" class="card__link"></a>
            <div class="card__wrapper">
              <div class="card__label">NEW</div>
              <div class="card__img">
                <img src="./img/cards/03.webp" alt="" />
              </div>
              <a href="#" class="card__cart">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73335 7.00002H1L1.00001 19C1.00001 19.5523 1.41787 20 1.93334 20H14.0667C14.5821 20 15 19.5523 15 19V7.00002H11.2667M4.73335 7.00002H11.2667M4.73335 7.00002L4.73333 8.00001M4.73335 7.00002L4.73333 4.50001C4.73333 2.56701 6.19587 1 8 1C9.80413 1 11.2667 2.56701 11.2667 4.50001V7.00002M11.2667 7.00002V8.00001"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <div class="text card__title">Пиджак OLIMP BLUE</div>
            <div class="text text--small card__price">38 000р.</div>
          </div>
          <div class="store-item card">
            <a href="#" class="card__link"></a>
            <div class="card__wrapper">
              <div class="card__label">NEW</div>
              <div class="card__img">
                <img src="./img/cards/03.webp" alt="" />
              </div>
              <a href="#" class="card__cart">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73335 7.00002H1L1.00001 19C1.00001 19.5523 1.41787 20 1.93334 20H14.0667C14.5821 20 15 19.5523 15 19V7.00002H11.2667M4.73335 7.00002H11.2667M4.73335 7.00002L4.73333 8.00001M4.73335 7.00002L4.73333 4.50001C4.73333 2.56701 6.19587 1 8 1C9.80413 1 11.2667 2.56701 11.2667 4.50001V7.00002M11.2667 7.00002V8.00001"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <div class="text card__title">Пиджак OLIMP BLUE</div>
            <div class="text text--small card__price">38 000р.</div>
          </div>
          <div class="store-item card">
            <a href="#" class="card__link"></a>
            <div class="card__wrapper">
              <div class="card__label">NEW</div>
              <div class="card__img">
                <img src="./img/cards/03.webp" alt="" />
              </div>
              <a href="#" class="card__cart">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73335 7.00002H1L1.00001 19C1.00001 19.5523 1.41787 20 1.93334 20H14.0667C14.5821 20 15 19.5523 15 19V7.00002H11.2667M4.73335 7.00002H11.2667M4.73335 7.00002L4.73333 8.00001M4.73335 7.00002L4.73333 4.50001C4.73333 2.56701 6.19587 1 8 1C9.80413 1 11.2667 2.56701 11.2667 4.50001V7.00002M11.2667 7.00002V8.00001"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <div class="text card__title">Пиджак OLIMP BLUE</div>
            <div class="text text--small card__price">38 000р.</div>
          </div>
          <div class="store-item card">
            <a href="#" class="card__link"></a>
            <div class="card__wrapper">
              <div class="card__label">NEW</div>
              <div class="card__img">
                <img src="./img/cards/03.webp" alt="" />
              </div>
              <a href="#" class="card__cart">
                <svg
                  width="16"
                  height="21"
                  viewBox="0 0 16 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73335 7.00002H1L1.00001 19C1.00001 19.5523 1.41787 20 1.93334 20H14.0667C14.5821 20 15 19.5523 15 19V7.00002H11.2667M4.73335 7.00002H11.2667M4.73335 7.00002L4.73333 8.00001M4.73335 7.00002L4.73333 4.50001C4.73333 2.56701 6.19587 1 8 1C9.80413 1 11.2667 2.56701 11.2667 4.50001V7.00002M11.2667 7.00002V8.00001"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <div class="text card__title">Пиджак OLIMP BLUE</div>
            <div class="text text--small card__price">38 000р.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
