<section class="types">
  <div class="types__slider slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide types__slide type">
        <div class="type__img">
          <img src="./img/photos/01.webp" alt="" />
        </div>
        <div class="type__content">
          <div class="type__title">Новая Коллекция</div>
          <a href="#" class="link link--white"> Посмотреть всё </a>
        </div>
      </div>
      <div class="swiper-slide types__slide type">
        <div class="type__img">
          <img src="./img/photos/02.webp" alt="" />
        </div>
        <div class="type__content">
          <div class="type__title">Верхняя Одежда</div>
          <a href="#" class="link link--white"> Посмотреть всё </a>
        </div>
      </div>
      <div class="swiper-slide types__slide type">
        <div class="type__img">
          <img src="./img/photos/03.webp" alt="" />
        </div>
        <div class="type__content">
          <div class="type__title">Костюмы</div>
          <a href="#" class="link link--white"> Посмотреть всё </a>
        </div>
      </div>
    </div>
  </div>
</section>
