// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Manrope", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Nunito Sans", sans-serif;
  --content-width: 122.4rem;
  --container-offset: 1.5rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}
